{% extends 'base.html' %}

{% block title %}
    Teachers list
{% endblock %}

{% block custom_css %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
{% endblock %}
{% block content %}
    <form method="get">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="first_name"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="second_name"><br><br>
        <label for="age">Age:</label>
        <input type="number" name="age"><br><br>
        <label for="spec">Specialization:</label>
        <input type="text" id="spec" name="specialization"><br><br>
        <input type="submit" value="Submit">
        <br><br>
    </form>
<br>
    <p><strong>Number of teachers: {{ teacher.count }}</strong></p>
    <br>
    <table>
        <tr>
            <th></th>
            <th>First name</th>
            <th>Second name </th>
            <th>Age </th>
            <th>Specialization </th>
            <th>✎</th>
            <th>🗑</th>
        </tr>
    {% for teacher in teacher %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{teacher.first_name}}</td>
            <td>{{teacher.second_name}}</td>
            <td>{{teacher.age}}</td>
            <td>{{teacher.specialization}}</td>
            <td><a href="{% url 'teachers:update' teacher.id %}">Edit</a></td>
            <td><a href="{% url 'teachers:delete' teacher.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}