{% load crispy_forms_tags %}

<table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
<!--            <th>Teachers</th>-->
            <th><i class="bi bi-pencil-square"></i></th>
            <th><i class="bi bi-trash"></i></th>
        </tr>
    {% for group in list_object %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{group.name}}</td>
            <td>{{group.start_date}}</td>
            <td>{{group.end_date}}</td>
<!--            <td>{% for teacher in group.teachers.all %} {{ teacher }}{% endfor %}</td>-->
            <td><a href="{% url 'groups:update' group.id %}">Edit</a></td>
            <td><a href="{% url 'groups:delete' group.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>